

.card-principal {
    background-color: #819cf8;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}



.botao {
    background-color: #09138d;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    min-width: 150px;
   
}
.botao:hover {
    background-color: #0a1fbb;
    color: white;
}