{% extends "base.html" %}

{% block content %}


<div class="container">
    <h1 class="text-center">Cadastro</h1>
    <form method="POST" action="/cadastro">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" required>  
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="senha" class="form-label">Senha</label>
            <input type="password" class="form-control" id="senha" name="senha" required>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
    </form>

    <form action="/cadastro_anonimo" method="post">
        <div class="mb-3">
            <button type="submit" class="btn btn-danger">Entrar Anônimo</button>
        </div>
    </form>
</div>


{% endblock %}